.cedarville-cursive-regular {
    font-family: "Cedarville Cursive", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
  /*<uniquifier>: Use a unique and descriptive class name*/
  /*<weight>: Use a value from 100 to 900*/
  
  .montserrat{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight:100;
    font-style: normal;
  }


body{
  font-family: "Montserrat", sans-serif;
  font-weight:100;
  font-style: normal;
}

.container{
  max-width:1400px;
  margin: 0 auto;

}
header{
  background-image: url('../images/Header2image.jpg');
  background-repeat:no-repeat;
  background-size: cover;
  color:#5c715e;
  text-align: center;
  padding: 200px 0;
  width: 100%;
  aspect-ratio: 21/9;

}

header 
h1,
h2{
  font-family: "Cedarville Cursive", cursive;
  font-weight: 500;
  font-style: normal;
  font-size: 3em;
  line-height:1;
  margin: 30px 0;
  color:#900048;
  /*color:#cb9bba;*/
  /*letter-spacing:4px;*/
  /*word-spacing: 6px;*/
}

header 
h3{
  font-family: "Montserrat", sans-serif;
    font-weight:500;
    font-size: 1.5em;
    letter-spacing: 3px;
}


header a{
  font-family: "Montserrat", sans-serif;
  font-weight:500;
  font-size:1.5em;
  line-height:1;
  letter-spacing: 3px;
  text-align: center;
  text-decoration: none;
  color:#4f7097;
  padding: 15px 32px;
  display: inline-block;
}

footer {
  background-image: linear-gradient(
    rgba(39, 32, 68, 0.9),
    rgba(39, 32, 68, 0.9) )
    url('../images/footer3.jpg');
  color:#900048;
  font-size:0.8em;


}
@media (max-width:960px){
  header{
    padding: 60px 0;
  }

  header h1, h2{
    color:#cb9bba;
    font-size: 1.5em;
  }

  header h3{
    font-size: 0.7em;
  }

  header a{
    font-size: 0.7em;
    padding: 7px 15px;
    line-height: 0.5;
  }
}